<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>62292712891-fg919lpblmgse3v18fru93o8dvtr550q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.62292712891-fg919lpblmgse3v18fru93o8dvtr550q</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>62292712891-7p6v3gn9sggvmfjkajrsj9nhhi9tcdjg.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCUJgEDiczhuejzJ2ldzcynOqZLMpV9F7o</string>
	<key>GCM_SENDER_ID</key>
	<string>62292712891</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.twopleDashboard</string>
	<key>PROJECT_ID</key>
	<string>twople-5428f</string>
	<key>STORAGE_BUCKET</key>
	<string>twople-5428f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:62292712891:ios:5c9b26f99a1318c8bb389e</string>
</dict>
</plist>